/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/* NAVIGATION BAR */

.nav-bar {
    position: absolute;
    width: 100%;
    font-size: 1.2em;
    z-index: 2;
}

.nav-bar__list {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding: 0;
    margin: 20px;
    list-style: none;
}

.nav-bar__element {
    flex: 0 1 140px;
    margin: 10px;
}

.nav-bar__element--active {
    border: 1.5px var(--border-button-color) dashed;
}

.nav-bar__link {
    color: inherit;
    text-decoration: none;
}


/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/* SECTION-ABOUT */

#section-about {
    position: relative;
    min-height: 100vh;
    background: url(../images/background-img-left.png) left top no-repeat,
                url(../images/background-img-right.png) right top no-repeat,
                var(--hero-background-color);
}

.section-about__wrapper {
    position: relative;
    padding: 200px 0 20px 0;
    z-index: 1;
}

.main-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50vw;
    padding: 32px;
    margin: auto;
    border: 10px var(--hero-border-color) dashed;
    box-sizing: border-box;
}

.main-box:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 30px;
    left: 30px;
    background: var(--fill-color);
    z-index: -1;
}

.section-about__hi{
    position: absolute;
    top: -70px;
    left: -110px;
    margin: 0;
    font-family: var(--special-font);
    font-size: 9em;
    color: var(--main-color);
}

.section-about__hi:after{
    content: "i,";
    position: relative;
    top: 20px;
    left: -10px;
    font-size: 0.85em;
}

.main-box__header {
    width: 100%;
    height: 100%;
    font-weight: 900;
    font-size: 2em;
    color: var(--main-color);
    text-align: center;
}

.main-box__text {
    margin: 24px 16px 24px 16px;
    font-family: var(--text-font);
    font-size: 1.2em;
    text-align: center;
    line-height: 24px;
}

.main-box__button {
    border: 1.5px var(--border-button-color) solid;
}


/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/* MEDIAS */

@media screen and (max-width: 960px) {
    #section-about {
        background: var(--hero-background-color);
    }
    .section-about__hi{
        left: -120px;
        font-size: 8em;
    }
}

@media screen and (max-width: 650px) {
    .main-box {
        align-items: center;
        width: 80vw;
        padding: 20px;
    }
    .main-box:before {
        display: none;
    }
    .section-about__hi{
        display: none;
    }
    .main-box__text {
        font-size: 1em;
    }
    .main-box__header {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 416px) {
    .main-box__text {
        font-size: .9em;
    }
    .main-box__header {
        font-size: 1.1em;
    }
    .nav-bar__element {
        flex: 0 1 70px;
    }
}

@media screen and (max-width: 276px) {
    .section-about__wrapper {
        padding-top: 230px;
    }
}

@media screen and (max-width: 264px) {
    .section-about__wrapper {
        padding-top: 270px;
    }
}


/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/* ANIMATIONS */

@-webkit-keyframes slideTopDown { from { top:-10vh;  opacity:0; } to { top: 0;  opacity:1; } }
@-moz-keyframes slideTopDown { from { top:-10vh;  opacity:0; } to { top: 0;  opacity:1; } }
@keyframes slideTopDown { from { top:-10vh;  opacity:0; } to { top: 0;  opacity:1; } }

.slide-top-down {
    top: -10vh;
    opacity: 0;

    -webkit-animation: slideTopDown ease-in-out  1;
    -moz-animation: slideTopDown ease-in-out  1;
    animation: slideTopDown ease-in-out  1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

@-webkit-keyframes slideDownTop { from { top:-100vh; } to { top: 0;  } }
@-moz-keyframes slideDownTop { from { top:-100vh; } to { top: 0;  } }
@keyframes slideDownTop { from { top:-100vh; } to { top: 0;  } }

.slide-down-top {
    top: -100vh;

    -webkit-animation: slideDownTop ease-in-out  1;
    -moz-animation: slideDownTop ease-in-out  1;
    animation: slideDownTop ease-in-out  1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}


@-webkit-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@-moz-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }

.fade-in {
    opacity: 0;

    -webkit-animation: fadeIn ease-in-out  1;
    -moz-animation: fadeIn ease-in-out  1;
    animation: fadeIn ease-in-out  1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    animation-duration: .5s;

    -webkit-animation-delay: .9s;
    -moz-animation-delay: .9s;
    animation-delay: .9s;
}