/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/* SECTION-CONTACT */

.section-contact {
    min-height: 100vh;
    background: var(--main-bcg-medium-color);
}

.section-contact__header {
    padding-top: 2vw;
}

.section-contact__wrapper {
    margin: 2vw 15vw 2vw 15vw;
    border: 10px var(--hero-border-color) dashed;
}

.section-contact__form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
}

.form__inputs {
    width: 100%;
    background: var(--fill-color);
    padding: 20px;
    margin-bottom: 15px;
    border: none;
    box-sizing: border-box;
    font-family: var(--text-font);
    font-size: 1em;
}

.form__email, .form__name {
    max-lines: 1;
}

.form__message {
    resize: none;
}

.form__submit {
    width: 130px;
    background: var(--fill-color);
    border: 1.5px var(--border-button-color) solid;
    font-size: 1em;
}


/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/* MEDIAS */

@media screen and (max-width: 960px) {
    .section-contact__header {
        font-size: 1.8em;
    }
}

@media screen and (max-width: 650px) {
    .section-contact__header {
        font-size: 1.5em;
        letter-spacing: 10px;
    }
    .section-contact__wrapper {
        margin-top: 4vw;
    }
}

@media screen and (max-width: 416px) {
    .section-contact__header {
        font-size: 1em;
    }
    .form__submit {
        width: 35vw;
    }
}

@media screen and (max-width: 276px) {
    .section-contact__header {
        letter-spacing: 5px;
    }
    .section-contact__wrapper {
        margin-top: 6vw;
    }
    .form__email, .form__name, .form__message {
        font-size: .8em;
    }
    .form__submit {
        width: 30vw;
    }
}

@media screen and (max-width: 264px) {
    .section-contact__header {
        letter-spacing: 2px;
    }
    .section-contact__wrapper {
        margin-top: 8vw;
    }
}