/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/* SECTION-PROJECTS */

.section-projects {
    min-height: 100vh;
    background: url(../images/backgrounds/background-projects-bottom.png) center bottom no-repeat,
                url(../images/backgrounds/backgrund-projects-top.png) center top no-repeat,
                var(--main-bcg-light-color);
    background-size: contain, contain;
}

.section-projects__header {
    padding-top: 15vw;
}

.section-projects__footer {
    height: 20vw;
}

.section-projects__wrapper {
    margin: 0 15vw;
    border: 10px var(--main-border-color) dashed;
}

.project {
    display: flex;
    align-items: center;
    background: var(--main-bcg-medium-color);
    padding: 20px;
    margin-top: 50px;
}

.project:last-child {
    margin-bottom: 50px;
}

.project__content {
    flex: 1 1 50%;
    padding: 0 40px;
}

.content__title {
    margin: 20px 0;
    color: var(--font-color);
    font-family: var(--text-font);
    font-weight: 400;
    font-size: 3em;
    text-align: center;
}

.content__technologies {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0;
    text-align: center;
    list-style: none;
}

.technologies__tag {
    padding: 5px 10px;
    margin: 5px;
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: .9em;
    border: 1px var(--text-color) dashed;
    opacity: 60%;
}

.content__description {
    font-family: var(--text-font);
    font-size: 1.1em;
    line-height: 1.5em;
    text-align: left;
}

.content__buttons {
    display: flex;
}

.content__button {
    flex: 0 1 25%;
    margin-right: 20px;
    background: var(--fill-color);
    border: 1.5px var(--border-button-color) solid;
    text-align: center;
}

.project__image {
    flex: 1 1 50%;
    max-width: 1000px;
    padding: 0 40px;
}

.image-src {
    width: 100%;
}

/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/* MEDIAS */

@media screen and (max-width: 1275px) {
    .section-projects__wrapper {
        display: block;
    }
    .project__image {
        max-width: 30vw;
    }
    .project {
        flex-direction: column-reverse;
    }
    .content__title {
        font-size: 2.7em;
    }
    .content__description {
        text-align: center;
    }
    .content__buttons {
        justify-content: center;
    }
    .content__button {
        flex: 0 1 15%;
    }
}

@media screen and (max-width: 960px) {
    .section-projects__header {
        font-size: 1.8em;
    }
    .content__title {
        font-size: 2.4em;
    }
    .content__description {
        font-size: 1em;
    }
    .content__button {
        flex-basis: 80px;
    }
}

@media screen and (max-width: 650px) {
    .section-projects__header {
        font-size: 1.5em;
        letter-spacing: 10px;
    }
    .content__title {
        font-size: 2.1em;
    }
    .project__image {
        padding: 0;
    }
    .content__description {
        font-size: .8em;
    }
    .content__buttons {
        flex-direction: column;
        align-items: center;
    }
    .content__button {
        flex-basis: 10px;
        width: 80px;
    }
    .content__button:first-child {
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 416px) {
    .section-projects__header {
        font-size: 1em;
    }
    .technologies__tag {
        font-size: .7em;
    }
    .content__title {
        font-size: 1.5em;
    }
    .content__description {
        font-size: .7em;
    }
    .content__buttons {
        flex-direction: column;
    }
    .content__button {
        margin: 0;
    }
    .content__button:first-child {
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 276px) {
    .section-projects__header {
        letter-spacing: 5px;
    }
    .content__title {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 264px) {
    .section-projects__header {
        letter-spacing: 2px;
    }
    .content__title {
        font-size: .9em;
    }
}