:root {
    --hero-light-color: rgba(225, 163, 197, 0.4);
    --hero-medium-color: rgba(210, 145, 188, 0.5);
    --hero-dark-color: rgba(85, 45, 72, 1);

    --main-first-color: rgba(196, 148, 177, 1);
    --main-second-color: rgba(225, 163, 197, 0.4);

    --nav-text-color: rgba(0, 0, 0, 1);
    --nav-border-color-active: rgba(210, 145, 188, 1);
    --nav-border-color: rgb(255, 255, 255);

    --text-color: rgba(0, 0, 0, 1);
    --border-button-color: rgba(149, 125, 173, 1);
    --fill-color: rgb(255, 255, 255);

    --special-font: 'Caveat Brush', 'Times New Roman', Times, serif;
    --text-font: 'Share Tech Mono', 'Courier New', Courier, monospace;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 12;
}

/* NAVIGATION BAR */

.nav-bar {
    color: var(--nav-text-color);
    font-family: var(--text-font);
    font-weight: 400;
    font-size: 1.2em;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.nav-bar__container {
    display: flex;
    justify-content: center;
}

.nav-bar__list {
    padding: 0;
    width: 700px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav-bar__element {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 35px;
    border: 1.5px var(--nav-border-color) solid;
}

.nav-bar__element--active {
    text-decoration: underline;
    border: 1.5px var(--nav-border-color-active) solid;
}

.nav-bar__link {
    color: inherit;
    text-decoration: none;
    margin: 0;
}


/* SECTION-ABOUT */

#section-about {
    background: linear-gradient(to bottom, var(--hero-light-color), var(--hero-medium-color), var(--hero-dark-color));
    position: relative;
    width: 100%;
    height: 100vh;
}

.section-about__wrapper {
    position: relative;
    width: 100%;
    top: 25%;
}

.section-about__hi{
    margin: 0;
    font-family: var(--special-font);
    font-size: 140px;
    color: var(--main-first-color);
    position: absolute;
    left: -95px;
    top: -65px;
    z-index: 1;
}

.section-about__hi::after{
    content: "i,";
    font-size: 120px;
    position: relative;
    top: 20px;
    left: -10px;
}

.main-box {
    background: var(--fill-color);
    box-sizing: border-box;
    width: 334px;
    height: 300px;
    padding: 16px;
    margin: auto;
    position: relative;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.main-box::before {
    content: "";
    background: var(--main-second-color);
    position: absolute;
    width: 334px;
    height: 300px;
    border-radius: 3px;
    top: 30px;
    left: 30px;
    z-index: -1;
}

.main-box__header {
    font-family: var(--special-font);
    color: var(--main-first-color);
    text-align: right;
    padding-top: 24px;
    font-size: 24px;
}

.main-box__text {
    font-family: var(--text-font);
    text-align: justify;
    font-size: .9em;
    line-height: 24px;
    margin: 28px 0px 8px 0px;
}

.button {
    font-family: var(--text-font);
    width: 140px;
    height: 35px;
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button:hover {
    position: relative;
    bottom: 5px;
}

.main-button {
    border: 1.5px var(--border-button-color) solid;
}

.scroll {
    position: relative;
    left: 10%;
    margin-top: 8%;
    font-size: 24px;
    border: 1.5px var(--fill-color) solid;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll__link {
    color: var(--fill-color);
}