:root {
    --hero-light-color: rgba(225, 163, 197, 0.4);
    --hero-medium-color: rgba(210, 145, 188, 0.5);
    --hero-dark-color: rgba(85, 45, 72, 1);

    --main-first-color: rgba(196, 148, 177, 1);
    --main-second-color: rgba(225, 163, 197, 0.4);

    --text-color: rgba(0, 0, 0, 1);
    --fill-color: rgb(255, 255, 255);

    --border-button-color: rgba(149, 125, 173, 1);

    --special-font: 'Caveat Brush', 'Times New Roman', Times, serif;
    --text-font: 'Share Tech Mono', 'Courier New', Courier, monospace;
}

body {
    margin: 0;
}


/* NAVIGATION BAR */

.nav-bar {
    position: absolute;
    width: 100%;
    font-size: 1.2em;
    z-index: 1;
}

.nav-bar__container {
    display: flex;
    justify-content: center;
}

.nav-bar__list {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding: 0;
    margin: 20px;
    list-style: none;
}

.nav-bar__element {
    flex: 0 1 140px;
    margin: 10px;
    border: 1.5px var(--fill-color) solid;
}

.nav-bar__element--active {
    border: 1.5px var(--border-button-color) dashed;
}

.nav-bar__link {
    margin: 0;
    color: inherit;
    text-decoration: none;
}

.nav-bar__link--active {
    text-decoration: underline;
}


/* SECTION-ABOUT */

#section-about {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 760px;
    background: linear-gradient(to bottom, var(--hero-light-color), var(--hero-medium-color), var(--hero-dark-color));
}

.section-about__wrapper {
    position: relative;
    width: 100%;
    top: 25%;
}

@media screen and (max-height: 660px) {
    .section-about__wrapper {
        top: 175px;
    }
}

.main-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50vw;
    padding: 32px;
    margin: auto;
    background: var(--fill-color);
    border-radius: 3px;
    box-sizing: border-box;
}

.main-box::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 30px;
    left: 30px;
    background: var(--main-second-color);
    border-radius: 3px;
    z-index: -1;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
}

.section-about__hi{
    position: absolute;
    top: -65px;
    left: -95px;
    margin: 0;
    font-family: var(--special-font);
    font-size: 9em;
    color: var(--main-first-color);
    z-index: 1;
}

.section-about__hi::after{
    content: "i,";
    position: relative;
    top: 20px;
    left: -10px;
    font-size: 0.85em;
}

.main-box__header {
    width: 100%;
    height: 100%;
    font-family: var(--special-font);
    font-size: 2em;
    color: var(--main-first-color);
    text-align: center;
}

.main-box__text {
    margin: 24px 16px 24px 16px;
    font-family: var(--text-font);
    font-size: 1.2em;
    text-align: center;
    line-height: 24px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 35px;
    font-family: var(--text-font);
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    position: relative;
    bottom: 5px;
}

.main-button {
    border: 1.5px var(--border-button-color) solid;
}

.scroll {
    height: 60px;
    width: 60px;
    font-size: 1.2em;
    border: 1.5px var(--fill-color) solid;
}

.scroll__link {
    color: var(--fill-color);
}